.popup__submit-button {
   background-color: #000;
   height: 46px;
   margin-top: 15px;
   border: none;
   border-radius: 2px;
   color: #fff;
   font-weight: 400;
   font-size: 14px;
   line-height: 17px;
}

.popup__submit-button:hover {
   opacity: 0.6;
   transition: 0.3s ease;
   cursor: pointer;
}

@media screen and (min-width: 1024px) {
   .popup__submit-button {
      height: 50px;
      margin-top: 18px;
      font-size: 18px;
      line-height: 22px;
   }
}