.popup__close-icon {
   background-image: url(../../../images/Close\ Icon.svg);
   background-color: #000;
   background-repeat: no-repeat;
   background-size: contain;
   background-size: 20px;
   position: absolute;
   right: 0;
   top: -36px;
   height: 20px;
   width: 20px;
   border: none;
}

.popup__close-icon:hover {
   opacity: 0.6;
   transition: 0.3s ease;
   cursor: pointer;
}

@media screen and (min-width: 1024px) {
   .popup__close-icon {
      background-size: 32px;
      width: 32px;
      height: 32px;
      position: absolute;
      top: -40px;
      right: -40px;
   }
}