.profile__avatar {
   border-radius: 20px;
   margin-bottom: 22px;
}

@media screen and (min-width: 768px) {
   .profile__avatar {
      margin: 0;
      margin-right: 20px;
   }
}

@media screen and (min-width: 1024px) {
   .profile__avatar {
      margin: 0;
      margin-right: 30px;
   }
}